.produtos{
    padding:50px;
}

.grid-produtos{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.produto{
    background:white;
    border-radius:12px;
    padding:15px;
    box-shadow:0 3px 10px rgba(0,0,0,.1);
}

.produto img{
    width:100%;
    height:200px;
    object-fit:cover;
    border-radius:10px;
}

.produto button{
    width:100%;
    background:#2E7D32;
    color:white;
    border:none;
    padding:10px;
    border-radius:8px;
    cursor:pointer;
}
